* {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
h1 {
  color: #333;
  font-family: tahoma;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

h1 span {
  font-size: 20px;
  margin-left: 40px;
}

.message {
   background-color: lightGrey;
  color: #434e71;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 150px;
  animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: -0.5rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 225px;
  }
  30% {
    top: -0.5rem;
    width: 225px;
  }
  33% {
    top: -0.5rem;
    width: 0;
  }
  35% {
    top: -0.5rem;
    width: 0;
  }
  38% {
    top: -3.5rem;
    
  }
  48% {
    top: -3.5rem;
    width: 255px;
  }
  62% {
    top: -3.5rem;
    width: 255px;
  }
  66% {
    top: -3.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -3.5rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -6.5rem;
    width: 200px;
  }
  95% {
    top: -6.5rem;
    width: 200px;
  }
  98% {
    top: -6.5rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
